# Sao chép thành .env và điền giá trị: copy env.example .env
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
# REDIS_PASSWORD=
CRAWLER_REDIS_QUEUE=crawler:queue
CRAWLER_API_BASE_URL=http://localhost:8000
CRAWLER_INTERNAL_TOKEN=se0h0SIsDFbqh3lyg1kmTqCkknXedKmDfPCEk1ypy4dCz6jl
# CRAWLER_HEADLESS=1
CRAWLER_WORKER_CONCURRENCY=10
CRAWLER_CHAPTER_CONCURRENCY=5